@model Learning.Models.Item

@{
	ViewData["Title"] = "Delete Item";
}
<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary"> Delete Item </h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Price"></label>
			<input asp-for="Price" class="form-control" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<div>

			<label asp-for="category_id"></label>

			<select asp-for="category_id" asp-items="@ViewBag.CategoryList" class="form-control" disabled>
			</select>
			<span asp-validation-for="category_id" class="text-danger"></span>
		</div>
		<hr/>
		<br/>
		<button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
		<a class="btn btn-primary" style="width:150px" asp-controller="Item" asp-action="Index">back</a>

	</div>

</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}