@model Category
@{
	ViewData["Titel"] = "Edit";
}
<form method="post">
	<div class="boarder p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Category</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="category_name"></label>
			<input asp-for="category_name" class="form-control" />
			<input type="hidden" asp-for="category_id" />

			<span asp-validation-for="category_name" class="text-danger"></span>
		</div>
		<br />
		<hr />
		<button type="submit" class="btn btn-primary">Edit</button>
		<a asp-Controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">back to Catrgories</a>
	</div>
</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}